<section class="hero-section">
  <div class="container hero-content">
    <h1 class="fw-bold">Join the Movement for a<br>Cleaner and Healthier<br>Barangay!</h1>
      <a [routerLink]="['/about']" class="btn btn-success hero-btn">Know More</a>
  </div>
</section>



<section class="container content-section mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 text-content text-md-start">
      <h4 class="text-success">GET STARTED</h4>
      <h2 class="fw-bold">What is the importance of Waste Management?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      <a href="#" class="text-success">Read more →</a>
    </div>
    <div class="col-md-5">
      <img src="assets/waste-image.jpg" class="img-fluid rounded">
    </div>
  </div>
</section>

<section class="container content-section mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <img src="assets/cleanup-image.jpg" class="img-fluid rounded">
    </div>
    <div class="col-md-5 text-content text-md-start">
      <h4 class="text-success">SCHEDULE OF ACTIVITIES</h4>
      <h2 class="fw-bold">Join the Movement</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      <a href="#" class="text-success">Read more →</a>
    </div>
  </div>
</section>


