<div class="preloader" *ngIf="isLoading">
  <div class="recycle-spinner">
    <img width="96" height="96" src="https://img.icons8.com/color/96/recycle-sign.png" alt="recycle-sign"/>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg" [class.scrolled]="isScrolled">
  <div class="container">
    <a class="navbar-brand text-success fw-bold" href="/">
      <img src="assets/logo.png" height="40">
      EcoClean
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active" >About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/activities" routerLinkActive="active" >Activities</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/tips" routerLinkActive="active" >Tips</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contact</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin" routerLinkActive="active" >Admin</a></li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<!-- Footer -->
<footer *ngIf="!hideFooter" class="footer mt-5 py-4 ">
  <div class="container justify-content-center">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-4 footer-left">
        <h5 class="footer-brand">EcoClean</h5>
        <p>Building a cleaner, healthier <br> community—one day at a time.</p>
      </div>

      <!-- Middle Section -->
      <div class="col-md-4 footer-middle">
        <h6 class="footer-title">Introduction</h6>
        <ul class="footer-links">
          <li><a routerLink="/about">About EcoClean</a></li>
          <li><a routerLink="/volunteers">The Volunteers</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Right Section -->
      <div class="col-md-4 footer-right">
        <h6 class="footer-title">More on EcoClean</h6>
        <ul class="footer-links">
          <li><a routerLink="/tips">Tips</a></li>
          <li><a routerLink="/activities">Activities</a></li>
        </ul>
        <p class="footer-copy">Copyright 2025 EcoClean, Inc. <a href="#">Terms & Privacy</a></p>
      </div>
    </div>
  </div>
</footer>

