<section class="hero-section">
</section>


<div class="events-container">
  <h2 class="title">Upcoming <span class="highlight">Events</span></h2>

  <div *ngFor="let event of events">
    <h3 class="month-title">{{ event.month }}</h3>
    <mat-divider></mat-divider>

    <div *ngFor="let item of event.items" class="event-card">
      <div class="date-box">
        <span class="date">{{ item.date }}</span>
      </div>
      <mat-card class="event-details">
        <h4 class="event-title">{{ item.title }}</h4>
        <p class="event-description"> {{ item.desc }}</p>
        <div class="event-volunteer">
          <span class="event-time">{{ item.time }}</span>
          <a href="/contact" class="volunteer-button">Volunteer Now!</a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
